/**/
a.brand-logo{
  font-size: 1.6rem;
}
.app-navbar{
  background-image: linear-gradient(to right, #4db6ac , #004d40);
}
.pagInicial#scan{
  margin-top: 10vh;
}
.badge.blue,.badge.red{
  color: white;
}